* {
	font-family: open sans;
	color: black;
	background-repeat: no-repeat;
}

/*navigation*/
nav {
	margin: 0 !important;
}

nav li a {
	text-shadow: none !important;
}


#nav-slogan {
	color:  #0A5595;
	font-weight: bold;
	font-family: Lato;
	font-style: italic;
	padding-top: 20px;
	font-size: 14px;
	margin-left: 100px;
}

#tour-link {
	background-color: #F8D037;
	color: #23518C;
}

#nav-links-top a {
	color: #0A5595;
}

#nav-links-top li {
	color:  #0A5595 !important;
	font-size: 10px;
	font-weight: 700;
	margin-left: 2px;
}
#first-nav {
	background-color: #83AFD6 !important;
	height: 35px;
	width: 100%;
}
#second-nav {
	background-color: #0A5595 !important;
	height: 60px;
	width: 100%;
}


nav.navbar.navbar-default {
	background-image: none;
	border-radius: 0;
	border-style: none;
}

#logo {
	position: absolute;
	z-index: 12;
	width: 120px;
}

#logo img {
	margin-top: -25px;
	z-index: 888;
}
#nav-links-bottom a {
	color: white;
}
#nav-links-bottom li {
	margin-top: 7px;
	margin-left: 22px;
	font-size: 15px;
}

.nav-links li {
	font-weight: 600;
	font-size: 13px;
}

#home-button {
	color: #F8D037 !important;
}

/*body*/

#image-banner {
	background-image: url('./images/res-img.jpg');
	height: 500px;
	width: 100%;
	background-size: cover;
	position: relative;
}

/*welcome to our long term care facility*/

#welcome {
	background-image: url('./images/welcome-banner1.jpg');	
	text-align: center;
}

#welcome p {
	margin-bottom: 0;
	font-weight: bold;
	font-family: Lato;
}

#welcome-heading {
	font-size: 25px;
	color:  #0A5595;
	font-family: open sans !important;
	text-align: center;
	padding-top: 25px;
}

#description{	
	background-color: #F5F5F5;
	padding-top: 45px;
	border-top: 3px solid silver;
	font-weight: bold;
	padding-bottom: 45px;
}

ol li {
	list-style: disc;
}

#description-heading {
	color: #0A5595;
	font-weight: bold;
}

#medal {
	height: 250px;
	width: 270px;
	background-image: url('./images/medal1.png');
}



/*footer*/

#first-footer {
	background-color: #83AFD6;
	width: 100%;
}

#call-us {
	padding-top: 10px;
	font-size: 10px;
}

#slogan {
	text-align: right;
	font-family: ;
	font-style: italic;
	font-weight: bold;
	padding-top: 17px;
}

#number {
	color: white;
}

/* second footer*/
#second-footer {
	background-color: #0A5595;
	width: 100%;
	padding-bottom: 20px;
}	
.second-footer-columns {
	padding-top: 30px;
	margin-right: 30px;
}

.second-footer-headings, hr {
	color: #83AFD6;
	font-weight: 600;
}

ul li {
	list-style: none;
	color: white;
}

.footer-links {
	padding-left: 0;
}

.footer-links a {
	color: white;
}

/*third footer*/

#third-footer {
	padding-top: 15px;
	background-color: #064A83;	
	width: 100%;
	color: #83AFD6;
	line-height: 9px;
	margin-bottom: -25px;
} 

#third-footer a:link {
	text-decoration: underline;
}

.main-font {
	color: #23518C;
	font-weight: bold;
}

.third-footer-text {
	font-size: 11px;
}

#lhin-stamp {
	height: 30px;
	margin-bottom: 0;
	padding-right: 0;
}

#toronto-central-link {
	font-weight: 600;
	color: #83AFD6;
}

#nobul-signature {
	text-align: right;
}

.ib {
	display: inline-block;
	margin-right: 10px;
	font-size: 11px;
}


/* styling for images with overlapping borders*/

.border-overlap {
	height: 35px;
	text-align: center;
	padding-top: 12px;
	font-family: open sans;
	font-weight: bold;
	font-size: 12px;
}


#light-blue {
	background-color: #83AFD6;
	color: #0A5595;
}
#dark-blue{
	background-color: #0A5595;
	color: #83AFD6;
}
#light-green{
	background-color: #ACD3A9;
	color:  #507851;
	font-size: 10px;
}
#dark-green{
	background-color: #507851;
	color: #ACD3A9;
}
#light-yellow{
	background-color: #F8D037;
	color: #B38026;
}
#dark-yellow{
	background-color: #B38026;
	color: #F8D037;
}

/* media queries */

@media (max-width: 992px) { 
	#medal {
		margin: 25px auto;
	}

	#nav-links-top li {
		margin-left: 2px;
		font-size: 10px;
	}

	#nav-links-bottom li {
		margin-top: 25px;
		margin-left: 12px;
		font-size: 10px;
	}

	#logo img {
		margin-top: 10px;
		z-index: 888;
	}

	#second-nav {
		height: 100px;
	}

	#nobul-signature {
		margin-top: 50px;
		text-align: center;
	}

	#lhin-stamp {
		margin-left: 33%;	
	}
 }

#images {
	background-color: #ECECEC;
	border-top: 1px solid silver;
	padding: 50px 0;
}

.image-boxes {
	height: 210px;
	position: relative;
	margin: 20px auto;
	max-width: 360px;
}


.first-image {
	background-image: url('./images/fam-council.jpg');
	border: 5px solid #83AFD6;
}

.second-image {
	background-image: url('./images/residence-council.jpg');
	border: 5px solid #ACD3A9;
}

.third-image {
	background-image: url('./images/request-a-tour.jpg');
	border: 5px solid #F8D037;
}

.image-lower-border {
	width: 100%;
	position: absolute;
	bottom: 0;
}

























